<!--users/templates/base.html-->

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<h3>Users auth</h3>

{% block content %}
{% endblock %}