<!--users/templates/dashboard.html-->

{% extends "base.html" %}

{% block content %}
Hello, {{ user.username|default:"Guest"}}!

<div>
    {% if user.is_authenticated %}
        <p><a href="{% url 'users:logout' %}">Logout</a></p>

        <p><a href="{% url 'users:password_change' %}">Change password</a></p>
    {% else %}
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}

</div>
{% endblock %}