{% extends 'base.html' %}

{% block content %}

<h4>Register</h4>

<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Register">
</form>

<a href="{% url 'login' %}">Back to login</a>

{% endblock %}
