<!--registration/login-->

{% extends "base.html" %}

{% block content %}
<h4>Login:</h4>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
<a href="{% url 'users:dashboard' %}">Back to dashboard</a>
<a href="{% url 'users:password_reset' %}">Reset password</a>
<a href="{% url 'users:register' %}">Register</a>
{% endblock %}

