<!--users/templates/registration/password_reset_form.html-->

{% extends 'base.html' %}

{% block content %}

<h4>Send password reset link</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">
</form>

<a href="{% url 'dashboard' %}">Back to dashboard</a>

{% endblock %}
