<!--users/templates/registration/password_change_done.html-->

{% extends "base.html" %}

{% block content %}
<h4>Password changed</h4>

<a href="{% url 'users:dashboard' %}">Back to dashboard</a>
{% endblock %}