<!--users/templates/registration/password_reset_done.html-->

{% extends 'base.html' %}

{% block content %}

<h4>Password reset done</h4>

<a href="{% url 'login' %}">Back to login</a>

{% endblock %}
