<!--users/templates/registration/password_change_form.html-->

{% extends "base.html" %}

{% block content %}

<h4>Change password:</h4>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change">
</form>
<a href="{% url 'users:dashboard' %}">Back to dashboard</a>
{% endblock %}