<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    {% block heading %}
        <h1>my first app: POLLS</h1>
    {% endblock heading %}

    {% block content %}
    {% endblock content %}
    {% block final %}
    <hr>
    <p>
        Copyright 2022-{% now "Y"%}
    </p>
    <hr>
    {% endblock final %}
</body>
</html>