<html>
<body>
    {% block heading %}
        <h1>my first app: POLLS</h1>
    {% endblock heading %}

    {% block content %}
    {% endblock content %}
    {% block final %}
    <hr>
    <p>
        Copyright 2022-{% now "Y"%}
    </p>
    <hr>
    {% endblock final %}
</body>
</html>