{% extends "polls/base.html" %}

{% block heading %}
    {{block.super}}
    <h2>{{question.question_text}}:</h2>
<hr>
{% endblock heading %}

{% block content %}
<ul>
    {% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} --> {{ choice.votes }} vote {{choice.votes|pluralize}}</li>
    {% endfor %}
</ul>

<a href="{% url 'polls_generic:detail' question.id %}">Vote again!</a>
{% endblock content %}